#title {
    background: transparent;
    color: white;
    text-align: center;
}

body {
    background-image: url("Assets/water.png");
    background-size: cover;
    background-attachment: fixed;
}


#topPage{

    text-align: center;
}

#search{

    width: 50%;
}

#mainCont {

    border-style: solid;
    height: 400px;
    background-color: whitesmoke;
}

#mapCont{

    height: 400px;
    border-left-style: solid;
    border-right-style: solid;
    
}

#map {
    height: 98%;  
    width: 100%;  
   }



.scrollable{

    height: 400px;
    overflow-y: auto;
}