#title {
    background: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("Assets/pictures/logo2.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    background-size: 350px;
    margin-top: 100px;

}

body {
    background-image: url("Assets/pictures/water.png");
    background-size: cover;
    overflow-x: hidden;
    background-attachment: fixed;
}

h1 {
    color: white;
    font-family: 'Piedra', cursive;

}

#topPage{

    text-align: center;
}


#searchRow{

    display: block;
    margin:0 auto;
    width: 300px;
    margin-bottom: 15px;
}

.input-group-append{

    text-align: center;
}

#mainCont {

    border-style: solid;
    border-width: 1em;
    border-color: white;
    height: 100%;
    background-color: whitesmoke;
    margin-bottom: 100px;
    border-radius: 25px;
}

#mapCont{

    height: 400px;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1em;
    border-color:white;

}

#map {
    height: 100%;  
    width: 100%;  
   }

#businessTitle, #weatherTitle{

   text-align: center;
   border-bottom-style: solid;
   font-family: 'Piedra', cursive;
    color: teal;
}


.card{

    text-align: center;
    background-color:#D1E8E2 !important;
    font-family: 'Piedra', cursive;
    border-radius: 25px;

}

h2 {
    font-family: 'Piedra', cursive;
}
mark.red {
    color: tomato;
    background: transparent;
}

mark.blue {
    color: #007bff;
    background: transparent;
}

#bluem {
    height: 30px;
    width: 20px;
}

#redm {
    height: 30px;
    width: 20px;
}

.scrollable{

    height: 400px;
    overflow-y: auto;
}



#vid{

    border-style:solid ;
    border-width: 1em;
    border-color:white;
    border-radius: 25px;
    margin-bottom: 50px;
}


::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

button:hover{

    opacity: .5;

}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {

  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #007bb5;
  color: white;
}

.fa-snapchat-ghost {
  background: #007bb5;
  color: white;
}

#businessBtn{

    background-color: #D1E8E2 ;
    border-radius: 25px;
    font-family: 'Piedra', cursive;

}

#yelpLabel {
    font-family: 'Piedra', cursive;

}

