#title {
    background: transparent;
    background-color: blue;
    color: white;
    text-align: center;
}
#topPage{

    text-align: center;
}

#search{

    width: 50%;
}

#mainCont {

    border-style: solid;
    height: 400px;
}

#mapCont{

    height: 400px;
    border-left-style: solid;
    border-right-style: solid;
    background-color: whitesmoke;
}

#map {
    height: 400px;  
    width: 100%;  
   }

#weatherCont{
    background-color: whitesmoke;
}

#yelpCont{
    background-color: whitesmoke;
}

